# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: https://discord.gg/esx-framework     #
#     Website: https://esx-framework.org/           #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30110"
endpoint_add_udp "0.0.0.0:30110"

load_server_icon "icon.png"
### Endpoints Privacy ###
sv_endpointPrivacy true

set sv_hostname "[^1E^3S^1P] 🕵^5GANGSTER RP🕵 / 👕^2ROPA REAL👗 / 🚗^8+400 VEHÍCULOS REALES🛵 / 💰ECONOMÍA REAL💰 / 🔪^8MAFIAS Y BANDAS🔪 / 🚓^4CNP🚓 / 🚑^8EMS🚑 / 🚀^1+120 FPS🚀 / 👩🏿‍💻^6PROGRAMACIÓN CONSTANTE👩🏿‍💻 / 💳^610K INICIALES💳 / 💊^4DROGAS ESCONDIDAS💉 / 🚨^8NO WL🚨"

set sv_projectName "[^1E^3S^1P] 🕵^5GANGSTER RP🕵 / 👕^2ROPA REAL👗 / 🚗^8+400 VEHÍCULOS REALES🛵 / 💰ECONOMÍA REAL💰 / 🔪^8MAFIAS Y BANDAS🔪 / 🚓^4CNP🚓 / 🚑^8EMS🚑 / 🚀^1+120 FPS🚀 / 👩🏿‍💻^6PROGRAMACIÓN CONSTANTE👩🏿‍💻 / 💳^610K INICIALES💳 / 💊^4DROGAS ESCONDIDAS💉 / 🚨^8NO WL🚨"

set steam_webApiKey "InsertYourApiKeyHere"
sv_licenseKey "InsertYourKeyHere"
sv_maxclients 64   # Allow access to features usually locked behind a FiveM patreon key




sets sv_projectDesc "Gangster RP servidor de rol español, ambientado en los santos!"
sets tags "bandas, roleplay, español, españa, cnp, cruzroja, mafias, cochesreales, marbella, spain, origen"
sv_scriptHookAllowed 0

sets locale "es-ES"
set sv_enforceGameBuild 2545

# Enable OneSync [REQUIRED FOR LEGACY 1.7.5 +]
set mysql_connection_string "mysql://fivem2:mikigang@34.155.105.169/es_extended?charset=utf8mb4"



set mysql_ui false

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## Default & Standalone resources
ensure mysql-async
ensure oxmysql
ensure ox_lib



## ESX Legacy
ensure es_extended
ensure ox_inventory
ensure [esx]

## ESX Addons
ensure [esx_addons]


##MOVIL PERSONALIZADO
start esx_lapraces
start gks_gotur
start gksphone  
start xsound
start screenshot-basic

ensure esx_rpchat
ensure 3dme

##VOZ
start pma-voice
start rp-radio

start deadly-emotes


start forzar-entorno
start aviso_ems
start ox_fuel
start rcore_spray
start 070_utils
start Ultra-Ids

start ox_doorlock
start lg-radiocar

start esx_vehicleshop
##NOMBRE CALLES
##start nomcalles

##JAIL
start esx_advancedjail

##ensure j-neonui
#MUSIC EVERYCHERE

start xsound1

start xnTattoos

##NOTIFICACIONES 
start notify-v2
##NOTIFICACIONES ENTORNOS
start pNotify

##PDA
start esx_pda

##JAKSMA
start advanced_drugs_creator
start jobs_creator

##MOTELES
##start esx_yisus_motel

##INSIDE TRABAJAR
##start inside-farmer
start inside-busdriver
start inside-fruitpicker
start inside-builder
start garage_fivem

##2022
start LegacyFuel
start esx_carlock
start sh59_keysystem

##HUD
start hud_prueba

start ReducedNPCs
##CAZA
start fanonx-hunting
start disabledispatch
start Fix
start CK
start rpj

start actividades
start rcore_pool
start MenuAPI
start rcore_arcade
start patoche_cyberbar_map
##HUD COCHE
start sapo_carhud

##ALQUILER DE COCCHES
start core_carsharing

##REQUISITOS DE LAS DROGAS DE ABAJO
start mythic_notify
start pogressBar
start NativeUI

##MENU MIKI (2022)
##start disc-base
##start disc-showid
##start fs_taxi
##start InteractSound2
##start Menu-Miki
##start SimpleCinematic
start jsfour-idcard

##BANEOS
start el_bwh

start rc_mine
start rc_minerJob
start rc_notify

##ANTIGHOSTPEAK
##ANTIGHOSTPICK
start Roda_BlockX
start patino_hospital

##ILEGAL
start rprogress
##start inside-carthief
ensure inside-shoprobbery
ensure rm_fleecaheist

##DP CLOTHING
start dpclothing

##ProgressBar
start progressBars

##start core_dispatch
##CHALECO
start esx_extraitems
##-----------------------CASAS ROBOS
##start av_houserobbery
##start interiors
##start nh-context
##start pmc-callbacks

##DONADORES
start utk_credit
start gacha_peds
##start dnz_donator

#ADMIN
start esx_adminplus

##EASYTIME
start cd_easytime

start vb-banking

start esx_armour
##POLICIA
start esx_policejob
start frontera


start dobletrabajo

##start core_evidence

##MECANICO

start lx_mechanic

##ALL HOUSING V2
start furni
start housingshells
##start warehouseshells
start input
start lockpicking
start meta_libs
##start MF-Housing
start mythic_interiors
start NativeUILua_Reloaded


##MAPEADOS DE MOTELES ESTAN EN LA CARPETA YMAP
start mafiahotel13

##CAYO PERICO 2022
start DLCiplLoader
start IlhaCayoPerico
start PolyZone
start MapaIlhaCayoperico
start uj_cayoPerico
start uj_cayoPerico
start Cayo

##DROGA BUNKER
start Marc_bunkerrive

##COCHES
##start packautos1
##start coches_optimizados
##start chrcst
start coches_9
start coches_1
start coches_2
start coches_3
start coches_4
start coches_5
start coches_6
start coches_7
start coches_8
start coches_11
start coches_10

start gangster_ropaNueva
start gangster_ropas
start gangster_ropaschicas

##mAPEADOS
##start apache_del_perro_apt
##start New_Grove_Street
##start containerbunker
##start Marc_Bunker_site

##MECANICCO

start gabz_hub
start rfc_eastcostums_fivem
start Redline_Tuner_Shop
start redline

##PRUEBA

##CAYO
start Cayo_Bridge
start mansioncayo
#HOTEL
start comisaria
##LEGION SQUARE
start legion-square

##ARMAS
start armas_replace

#MAFIAS
start bob74_ipl
start brofx_10
##start mansion1
##start np-ranch
##start np-lmansion
##start bunker_script
##start marbella_mapeos
##start marbella_nuevosMapeos
start oceanHospital
start tony
start cybermap
##INTRO
##start nvk_loading

start nc-loadingscreens


##JOB CREATOR
add_ace group.admin jobcreator allow # Add permission to group
add_ace identifier.steam:110000148a8ef95 advanced_drugs_creator allow # Add permission to MIki

add_ace identifier.steam:110000119fa8f45 advanced_drugs_creator allow # Add permission to Emiliano Steam account
